*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #bbc6fa
}
.quote-box{
    background: azure;
    width: 600px;
    margin-top: 200px;
    margin-left: 300px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
    text-align: center;

    
}
.quote-box h2{
    font-size: 30px;
    margin-bottom: 30px;
    position: relative;

    
}
.quote-box h2::after{
    content: '';
    width: 65px;
    height: 3px;
    border-radius: 3px;
    background: aqua;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;

}
.quote-box blockquote::before, .quote-box blockquote::after{
    content: '"';
}
.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}
.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quote-box button{
    background: aquamarine;
    color: black;
    border-radius: 25px;
    border: 1px solid rgb(23,124, 229);
    width: 150px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    
}